<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Always include this line of code!!! -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css" />
    <link types = "text/css" rel = "stylesheet" href = "css/Footer.css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="css/mystyle.css" />
    <!--owl carousel-->
    <link type="text/css" rel="stylesheet" href="css/owl.carousel.min.css" />
    <link type="text/css" rel="stylesheet" href="css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,600i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,500i,600,600i" rel="stylesheet">
    <!-- ======== Favicon ======= -->
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon" />
    
   
    <title>Traveleasy &mdash; explore more!</title>
  </head>
  <body>
    
     <%- body %>        

     <Footer>
      <div class = "Footercontainer">
          <div class = "left">
              <h2 class = "headerfoot">
                  travelEasy
              </h2>
              <p class = "footerpara">
                  TravelEasy- explore Your Imagination. We Make it easier for you to Dream big and explore greatest.
              </p>
              <div class = "socialicons">
                  <div class = "icons">
                      <a href="#" class="fa fa-facebook"></a>
                  </div>
                  <div class = "icons">
                      <a href="#" class="fa fa-twitter"></a>
                  </div>
                  <div class = "icons">
                      <a href="#" class="fa fa-instagram"></a>
                  </div>
  
              </div>
  
          </div>
          <div class = "center">
              <div class = "Otherlinks">
                  Useful Links
              </div>
              <div class = "listitems">
                  <ul>
                      <li><a href = "#arrow">Home</a></li>
                      <li><a href = "#aboutus">About Us</a></li>
                      <li><a href = "#arrow">Hotels</a></li>
                      <li><a href = "#arrow">Trains</a></li>
                      <li><a href = "#arrow">Flights</a></li>
                      <li><a href = "#arrow">Buses</a></li>
                  </ul>
              </div>
  
          </div>
          <div class = "right">
  
              <div class="righthead">
                  Contacts
              </div>
              <div class = "location">
                  <i style="font-size:24px" class="fa">&#xf041;</i>
                  <div class = "address">Somewhere on Planet Earth</div>
              </div> 
              <div class = "phone">
              <i style="font-size:24px" class="fa">&#xf095;</i>
             <div class = "mobile">+91-98764532167</div>
              </div> 
              <div class = "emailbox">
                  <i style="font-size:24px" class="fa">&#xf0e0;</i>
                  <div class = "email">traveleasy.anywhere@gmail.com</div>
              </div> 
  
  
  
          </div>
      </div>
  </Footer>
  
  <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="js/owl.carousel.min.js"></script>
  <script type="text/javascript" src="js/extrenaljq.js"></script>
</body>
</html>
